@import "tailwindcss";


@theme {
  --color-background: #090b0c;
  --color-surface: #0d1017;
  --color-surface-active: #191e25;
  --color-hairline: #1e2026;
  --color-success: #5eb566;
  --color-danger: #fa5343;
  --color-info: #4580c4;
  --color-accent: #a972f0;
  --color-surface-card: #11151a;
  --color-surface-input: #0a0d11;
}

.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible {
  outline: none;
}